apiVersion: v1
kind: Service
metadata:
  labels:
{{ include "labels.stakater-am" . | indent 4 }}
{{ include "labels.chart" . | indent 4 }}
    expose: "{{ .Values.alertmanager.service.expose }}"
  name: {{ template "name" . }}-alertmanager
  annotations:
    fabric8.io/ingress.annotations: |-
      ingress.kubernetes.io/force-ssl-redirect: "{{ .Values.alertmanager.service.forceSslRedirect }}"
      kubernetes.io/ingress.class: {{ .Values.alertmanager.service.ingressClass }}
      {{- with .Values.alertmanager.service.annotations }}
      {{- range $key, $value := . }}
      {{ $key }}: {{ $value }}
      {{- end }}
      {{- end }}
spec:
  ports:
  - name: web
    port: 9093
    protocol: TCP
    targetPort: web
  selector:
    alertmanager: main